 <!-- Footer -->
 <footer class="sticky-footer bg-white">
    <div class="container my-auto">
      <div class="copyright text-center my-auto" id="copyright">
        <span>Copyright &copy;</span>
        <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
      </div>
    </div>
  </footer>
<!-- End of Footer -->