<div class="tab-pane fade show active" id="landing-page-form" role="tabpanel" aria-labelledby="pills-home-tab">
    <div class="card shadow mb-4 mt-2">
      <div class="card-body">
        <form action="/admin/configuration" method="POST">
            <div class="row g-3 align-items-center mb-3">
              <div class="col-2">
                <label for="navbarName" class="col-form-label">Navbar Name</label>
              </div>
              <span>:</span>
              <div class="col-6">
                <input type="text" id="navbarName" class="form-control navbar-name" name="navbarName" aria-describedby="passwordHelpInline" placeholder="Enter Navbar Name">
              </div> 
            </div>
            <div class="row g-3 align-items-center mb-3">
                <div class="col-2">
                  <label for="heroTitleFirst" class="col-form-label">Title 1</label>
                </div>
                <span>:</span>
                <div class="col-6">
                  <input type="text" id="heroTitleFirst" class="form-control hero-1" name="heroTitleFirst" aria-describedby="passwordHelpInline" placeholder="Enter Title One">
                </div>
            </div>
            <div class="row g-3 align-items-center mb-3">
                <div class="col-2">
                  <label for="heroTitleSecond" class="col-form-label">Title 2</label>
                </div>
                <span>:</span>
                <div class="col-6">
                  <input type="text" id="heroTitleSecond" class="form-control hero-2" name="heroTitleSecond" aria-describedby="passwordHelpInline" placeholder="Enter Title Two">
                </div>
            </div>
            <div class="row g-3 mb-3">
                <div class="col-2">
                  <label for="heroDescription" class="col-form-label">Description</label>
                </div>
                <span>:</span>
                <div class="col-6">
                  <textarea class="form-control hero-description" name="heroDescription" id="heroDescription" cols="30" rows="10" placeholder="Enter Description"></textarea>
                </div>
            </div>
            <div class="row g-3 align-items-center mb-3">
                <div class="col-2">
                  <label for="email" class="col-form-label">Email</label>
                </div>
                <span>:</span>
                <div class="col-6">
                  <input type="email" id="email" class="form-control email" name="email" aria-describedby="passwordHelpInline" placeholder="Enter Email">
                </div>
            </div>
            <div class="row g-3 align-items-center mb-3">
                <div class="col-2">
                  <label for="twitterLink" class="col-form-label">Twitter Link</label>
                </div>
                <span>:</span>
                <div class="col-6">
                  <input type="text" id="twitterLink" class="form-control twitter-link" name="twitterLink" aria-describedby="passwordHelpInline" placeholder="Enter Twitter Link">
                </div>
            </div>
            <div class="row g-3 align-items-center mb-3">
                <div class="col-2">
                  <label for="instagramLink" class="col-form-label">Instagram Link</label>
                </div>
                <span>:</span>
                <div class="col-6">
                  <input type="text" id="instagramLink" class="form-control instagram-link" name="instagramLink" aria-describedby="passwordHelpInline" placeholder="Enter Instagram Link">
                </div>
            </div>
            <div class="row g-3 align-items-center mb-3">
                <div class="col-2">
                  <label for="facebookLink" class="col-form-label">Facebook Link</label>
                </div>
                <span>:</span>
                <div class="col-6">
                  <input type="text" id="facebookLink" class="form-control facebook-link" name="facebookLink" aria-describedby="passwordHelpInline" placeholder="Enter Facebook Link">
                </div>
            </div>
            <div class="row g-3 align-items-center mb-3">
                <div class="col-2">
                  <label for="spotifyLink" class="col-form-label">Spotify Link</label>
                </div>
                <span>:</span>
                <div class="col-6">
                  <input type="text" id="spotifyLink" class="form-control spotify-link" name="spotifyLink" aria-describedby="passwordHelpInline" placeholder="Enter Spotify Link">
                </div>
            </div>
            <div class="row g-3 align-items-center mb-3">
              <div class="col-2">
                <label for="embedSpotifyLink" class="col-form-label">Embed Spotify Link</label>
              </div>
              <span>:</span>
              <div class="col-6">
                <input type="text" id="embedSpotifyLink" class="form-control facebook-link" name="embedSpotifyLink" aria-describedby="passwordHelpInline" placeholder="Enter Embed Spotify Link">
              </div>
            </div>
            <div class="row g-3 mb-3">
                <div class="col-2">
                  <label for="aboutMeDescription" class="col-form-label">About Me Description</label>
                </div>
                <span>:</span>
                <div class="col-6">
                  <textarea class="form-control about-me-description" name="aboutMeDescription" id="aboutMeDescription" cols="30" rows="10" placeholder="Enter About Me"></textarea>
                </div>
            </div>
            <div class="row g-3 align-items-center mb-3">
                <div class="col-2">
                  <label for="footerQuote" class="col-form-label">Footer Quote</label>
                </div>
                <span>:</span>
                <div class="col-6">
                  <input type="text" id="footerQuote" class="form-control footer-quote" name="footerQuote" aria-describedby="passwordHelpInline" placeholder="Enter Footer Quote">
                </div>
            </div>
            <div class="row g-3 align-items-center mb-3">
                <div class="col-2">
                  <label for="footerAuthor" class="col-form-label">Footer Quote Author</label>
                </div>
                <span>:</span>
                <div class="col-6">
                  <input type="text" id="footerAuthor" class="form-control footer-author" name="footerAuthor" aria-describedby="passwordHelpInline" placeholder="Enter Footer Quote Author">
                </div>
            </div>
            <div class="form-footer">
              <button type="submit" class="btn btn-primary px-5">Save</button>
            </div>
        </form>
      </div>
    </div>
  </div>